<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/pages.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><img src="/imgs/logo_marvel.png" alt=""></a> 
    </header>
    <main>
        <section id="ParkerId">
            <div>
                <img id="commicImage" alt="">
                <div class="contentCommic">
                    <div id="card">
                        <div class="perfil"> 
                            <img id="characterImage" alt="avatar" class="avatar">
                            <h3 id="characterName"></h3>
                        </div>
                        <p id="characterDescription"></p>
                    </div>
                    <article>
                        <a href="#card"><h2 id="commicName"></h2></a>
                        <p id="commicDescription">
                        </p>
                    </article>
                </div>
            </div>
        </section>
        <section>

        </section>
    </main>
</body>
<script src="/scripts/main.js"></script>
<script src="/scripts/api.js"></script>
</html>