<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style/main.css">

    <title>Homem-aranha</title>
    <script src="/scripts/api.js"></script>
</head>
<body>
    <header>
        <img src="/imgs/logo_marvel.png" alt="">
    </header>
    <main>
        <section> 
            <div>
                <form action="aranha.html" method="get">
                    <input name="id" value="0" class="inv">
                    <input type="submit" value="Peter parker" class="Peter">
                </form>
                <img src="/imgs/parker-img.jpg" alt="">
            </div>
            <div>
                <form action="aranha.html" method="get">
                    <input name="id" value="1" class="inv ">
                    <input type="submit" value="May Parker" class="May">
                </form>
                <img src="/imgs/spiderGirl-img.jpg" alt="">
            </div>
            <div>
                <form action="aranha.html" method="get">
                    <input name="id" value="2" class="inv ">
                    <input type="submit" value="Miles Morales" class="Miles">
                </form>
                <img src="/imgs/miles-img.jpg" alt="Miles Morales">
            </div>
            <div>
                <form action="aranha.html" method="get">
                    <input name="id" value="3" class="inv">
                    <input type="submit" value="Gwen Stacy" class="Gwen">
                </form>
                <img src="/imgs/gwen-img.jpg" alt="Gwen Stacy" >
            </div>
            <div>
            <form action="aranha.html" method="get">
                <input name="id" value="4" class="inv">
                <input type="submit" value="Spider Man 2099" class="SpiderF">
            </form>
                <img src="/imgs/spider2099-img.jpg" alt="">
            </div>
        </section>
    </main>
</body>

</html>